<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Symfony Vietnam</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_about' %} active {% endif %}" aria-current="page" href="{{ path('app_about') }}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_contributors' %} active {% endif %}" aria-current="page" href="{{ path('app_contributors') }}">Contributors</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if not is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_login' %} active {% endif %}" aria-current="page" href="{{ path('app_login') }}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_register' %} active {% endif %}" aria-current="page" href="{{ path('app_register') }}">Sign Up</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_profile' %} active {% endif %}" aria-current="page" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
