{% extends 'base.html.twig' %}

{% block title %}Lesson Show{% endblock %}

{% block body %}
    <a href="{{ path('app_course_show', {'courseSlug':course.slug}) }}">Back to lesson list</a>
    <h1 class="text-center">{{ lesson.title }}</h1>
    {{ lesson.content | raw }}
    <h1 class="text-center">Question</h1>
    <form action="{{ path('app_lesson_check_answer', {'lessonSlug': lesson.slug, 'courseSlug': course.slug}) }}" method="post">
        <input type="hidden" name="lessonSlug" value="{{ lesson.slug }}">
        <input type="hidden" name="courseSlug" value="{{ course.slug }}">
        {% for index, question in questions %}
            <div class="mb-3">
                <p>
                    {{ index+1 }}. {{ question.question }}
                </p>
                {% set questionIndex = index %}
                {% for index, answer in question.answers %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer{{ questionIndex }}" value="{{ answer.id }}" required>
                        <label class="form-check-label" for="answer{{ questionIndex }}">
                            {{ answer.answer }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}
