{% extends 'base.html.twig' %}

{% block title %}Lesson Show{% endblock %}

{% block body %}
    <a href="{{ path('app_course_show', {'courseSlug':course.slug}) }}">Back to lesson list</a>
    <h1 class="text-center">{{ lesson.title }}</h1>
    {{ lesson.content }}
    <h1 class="text-center">Question</h1>
    <form action="">
        {% for index, question in questions %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                    {{ index+1 }}.{{ question.question }}
                </label>
            </div>
        {% endfor %}
    </form>
{% endblock %}
